

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');





:root{

   /* --  Colors  -- */

   --main-color: #1E3769;
   --main-color2: #233F78;
   --secondary-color: #FFCC72;

   --dark: #132044;
   --light-color1: #F2F6F9;
   --light-color2: #C0CFE6;

   --green: #28a745;
   --red: #dc3545;
   --light-blue:#17a2b8;
   /* --  Font  -- */

   --f: 'Montserrat', sans-serif;

}

html{
   scroll-behavior: smooth;
}

*{
   padding: 0;
   margin: 0;
   font-family: var(--f);
   box-sizing: border-box;
}

a,button{
   all: unset;
   cursor: pointer;

}


body{
   background: var(--main-color);
}


/* ---  First Animation  --- */

#present{
   height: 360dvh;
   position: relative;
}
.presentItemContainer{
   position: sticky;
   top: 0;
   left: 0;
   height: 100dvh;
   width: 100%;
}

#present .presentItemContainer div{
   position: absolute;
   height: 100dvh;
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: 0.3s ease-in-out;
}

#present .presentItemContainer div img{
   max-width: 90dvw;
   max-height: 70%;
}

#present .presentItemContainer div h1{
   font-size: 4rem;
   color: var(--light-color1);
}

#present .presentItemContainer .scrolldownanimation{
   width: 50px;
   height: 50px;
   left: 50%;
   top: unset;
   bottom: 50px;
   transform: translateX(-50%);
   font-size: 5rem;
   opacity: 1;
   color: var(--light-color1);
}
#present .presentItemContainer .scrolldownanimation *{
   stroke: var(--light-color1) !important;
}



#present .presentItemContainer .socials{
   display: flex;
   flex-direction: column;
   bottom: 100px;
   left: 100px;
   width: unset;
   height: unset;
   color: var(--light-color1);
   opacity: 1;
   font-size: 2rem;
   justify-content: flex-end;
   gap: 1.5rem;
}


#present .presentItemContainer .socials a{
   transition: 0.5s ease-in;
   opacity: 0;
   scale: 0.8;
}

#present .presentItemContainer .socials:nth-child(n){
   transition: n*0.1s;
}


#present .presentItemContainer .socials a:hover{
   color: var(--light-color2);
}

#present .expoventure {
   position: relative;
}


#present .expoventure img{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
}

#present .expoventure img:nth-child(2){
   opacity: 0.35;
}
/* ---  SECOND PART  --- */
.sectiondevider{
   background: var(--main-color2);
}

.sectiondeviderBottom div{
   transform: translateY(20px);
}

#secondP{
   position: relative;
}

#secondP section{
   padding: 5rem 10vw;
   padding-bottom:10rem;
}

#secondP section.first{
   background: var(--main-color);
}

#secondP section.second{
   background: var(--main-color2);
}

#secondP section h1.sectionTitle{
   color: var(--light-color1);
   font-size: 4rem;
   position: relative;
   display: inline-block;
}

#secondP section h1.sectionTitle::after{
   position: absolute;
   content: '';
   width: 70%;
   height: 3px;
   border-radius: 100vmax;
   background: var(--secondary-color);
   bottom: 0;
   left: 0;
}

/* navbar */

.header{
   display: flex;
   align-items: center;
   padding: 1rem 10vw;
   justify-content: space-between;
   position: sticky;
   top: 0;
   background: var(--main-color);
   z-index: 10;
   /* box-shadow: 0 20px 30px #17a2b811 ; */
   transition: 0.3s ease-out;
}

.header .left{
   position: relative;
}

.header .left img{
   height: 100px;
}


.header .left img:nth-child(2){
   position: absolute;
   opacity: 0.35;
   left: 0;
}
 /* nav.showOnMobile{
   display: none;
}
 nav.hideOnMobile{
   display: flex;
} */
.showOnMobile{
   display: none;
}

 nav.right{
   display: flex;
   gap: 2rem;
   color: var(--light-color1);
   font-size: 1.4rem;
}

 nav.right a{
   transition: 0.3s ease-in;
   position: relative;
   padding: 0.5rem;
}

 nav.right a.active ,.header nav.right a:hover{
   color: var(--secondary-color);
   /* font-weight: 500; */
}

 nav.right a::after{
   content: '';
   width: 0;
   height: 3px;
   background: var(--secondary-color);
   border-radius: 100vmax;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: 0.3s ease;
}


 nav.right a.active::after,
 nav.right a:hover::after{
   width: 100%;
}


/* the event */
#event{
   position: relative;
}

#event p{
   color: var(--light-color1);
   font-size: 3rem;
   padding: 5rem 3rem;
   line-height: 4rem;
   letter-spacing: 1px;
}

#event p span{
   color: var(--secondary-color);
   font-weight: 500;
}

#event p i{
   color: var(--secondary-color);
}

#event a.seeMore{
   color: var(--primary-color);
   background: var(--secondary-color);
   border-radius: 1rem;
   border: 2px solid var(--secondary-color);
   padding: 1rem 4rem;
   font-size: 1.5rem;
   transition: 0.3s;
   margin: 0 auto;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

#event a.seeMore:hover{
   background: none;
   color: var(--secondary-color);

}


/* countdown */


#countdown .container{
   width: 100%;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   /* padding: 5rem 0; */
   flex-direction: column;
}

#countdown .container .phases{
   display: flex;
   border: var(--light-color2) 1px solid;
   padding: 5px;
   border-radius: 100vmax;
   gap: 1rem;
   margin: 5rem auto;
}

#countdown .container .phases .phase{
   font-size: 1.3rem;
   padding: 0.5rem;
   color: var(--light-color1);

}

#countdown .container .phases .phase.passed{
   color: var(--light-blue);

}


#countdown .container .phases .phase.current{
   color: var(--green);
   background: var(--dark);
   font-weight: 500;
   border-radius: 100vmax;

}

#countdown .container .countdownTitle{
   color: var(--light-color1);
   font-size: 2rem;
}

#countdown .container  .countdownContainer{
   display: flex;
   color: var(--light-color1);
   font-size: 6rem;
   gap: 2rem;
   margin: 3rem 0 7rem;

}

#countdown .container  .countdownContainer div{
   position: relative;
}

#countdown .container  .countdownContainer div::after{
   position: absolute;
   right: 0;
   bottom: 0;
   color: var(--secondary-color);
   font-weight: 600;
   font-size: 0.7rem;
}

#countdown .container  .countdownContainer div.days::after{
   content: 'D';

}


#countdown .container  .countdownContainer div.hours::after{
   content: 'H';

}

#countdown .container  .countdownContainer div.minutes::after{
   content: 'M';

}

#countdown .container  .countdownContainer div.seconds::after{
   content: 'S';

}

 .actionBtn{
   color: var(--primary-color);
   background: var(--secondary-color);
   border-radius: 1rem;
   border: 2px solid var(--secondary-color);
   padding: 1rem 4rem;
   font-size: 1.5rem;
   transition: 0.3s;
   display: inline-block;
}
 .actionBtn:hover{
   background: none;
   color: var(--secondary-color);

}


/* reserve */

/* #register{
   display: flex;
   flex-direction: column;
   align-items: ;
} */

#register > div {
   margin: 10rem 0;
}

#register > div .sectionTitle{
  margin-bottom: 5rem;
}

#register > div p{
   color: var(--light-color1);
   font-size: 2rem;
   margin-bottom: 3rem;
}
.reserve form.input{
   position: relative;
   background: var(--dark);
   padding: 2.5rem 1rem;
   border-radius: 1.5rem;
   max-width: 100%;
}

.reserve form.input input{
   background: none;
   border: none;
   outline: none;
   position: absolute;
   width: 100%;
   height: 100%;
   padding: 2rem;
   /* box-sizing: content-box; */
   top: 50%;
   transform: translateY(-50%);
   color: var(--light-color1);
   font-size: 1.2rem;
}

.reserve form.input input::placeholder{
   color: var(--light-color2);
}


.reserve form.input button{
   position: absolute;
   right: 0.5rem;
   top: 50%;
   transform: translateY(-50%);
}

/* register */
#register .register p{
   margin-bottom: 3rem;
}
#register .register p span{
   color: var(--secondary-color);

}



/* FAQ */

#faq .container{
   width: 70%;
   display: flex;
   flex-direction: column;
   margin: 6rem auto 3rem;
   font-size: 1.5rem;
   color: var(--main-color);
   /* margin-top: 3rem; */
}


#faq .container .question{
   display: flex;
   justify-content: space-between;
   background: var(--light-color1);
   padding: 2rem 3rem;
   cursor: pointer;
   position: relative;
}

#faq .container .question::after{
   position: absolute;
   content: '';
   background-color: var(--light-color2);
   width: 90%;
   height: 1px;
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
}

#faq  .question i{
   transition: 0.3s;
   transform: rotate(0deg);
}

#faq .container .answer{
   background: var(--main);
   overflow: hidden;
   transition: 0.3s;
   height: 0;
}

#faq .container .answer p{
   padding: 2rem 3rem;
   color: var(--light-color1);
}
#faq .active .answer{
   box-sizing: content-box;
   /* height: 1000px; */
}


#faq .active .question i{
   transform: rotate(180deg);
}

/* footer */
footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
   padding: 1rem 10vw;
}
footer a{
   position: relative;

}
footer a img{
   max-width: 30vw;
}
footer a img:nth-child(1){
   position: absolute;
   opacity: 0.35;
}


footer p{
   color: var(--light-color1);
   font-size: clamp(1rem , 5vw , 0.5rem);
}

@media (max-width:400px ) {
   footer{
      flex-direction: column;
   }
   footer a img{
      max-width: 80vw;
   }
}




/* MEDIA QUERIES */







@media (max-width:1440px) {
   #event a.seeMore , .actionBtn{
      border-radius: 1rem;
      padding: 0.75rem 3.5rem;
      font-size: 1.3rem;
   }  
}

@media (max-width:1024px) {
   #secondP section h1.sectionTitle{
      font-size: 3.5rem;
   }
   
}
@media (max-width:768px) {
   #secondP section h1.sectionTitle{
      font-size: 3rem;
   }
   #event a.seeMore , .actionBtn{
      border-radius: 1rem;
      padding: 0.6rem 2rem;
      font-size: 1.2rem;
   }  
}

@media (max-width:450px) {
   #secondP section h1.sectionTitle{
      font-size: 2.4rem;
   }
   #event a.seeMore , .actionBtn{
      border-radius: 1rem;
      padding: 0.5rem 1.6rem;
      font-size: 1.1rem;
   }  
}


@media (max-width:380px) {
   #secondP section h1.sectionTitle{
      font-size: 2rem;
   }
   #event a.seeMore , .actionBtn{
      border-radius: 1rem;
      padding: 0.5rem 1.6rem;
      font-size: 1rem;
   }  
}

/* first animation */

@media (max-width:1024px) {
   #present .presentItemContainer .socials{
      bottom: 80px;
      left: 80px;
      font-size: 1.9rem;
      gap: 1.5rem;
   }

   #present .presentItemContainer div img {
      max-width: 80dvw;
   }
   #present .presentItemContainer div h1 {
      font-size: 3.7rem;
   }
}

@media (max-width:768px) {
   #present .presentItemContainer .socials{
      bottom: 60px;
      left: 50px;
      font-size: 1.7rem;
      gap: 1.5rem;
   }

   #present .presentItemContainer div img {
      max-width: 75dvw;
   }
   #present .presentItemContainer div h1 {
      font-size: 3.3rem;
   }
}

@media (max-width:550px) {
   #present .presentItemContainer .socials{
      bottom: 50px;
      left: 30px;
      font-size: 1.5rem;
      gap: 1.5rem;
   }

   #present .presentItemContainer div img {
      max-width: 65dvw;
   }
   #present .presentItemContainer div h1 {
      font-size: 3rem;
   }
}
@media (max-width:440px) {
   #present .presentItemContainer .socials{
      bottom: 40px;
      left: 20px;
      font-size: 1.2rem;
      gap: 1.5rem;
   }
}

/* navbar */

@media (max-width: 1440px) {
   .header .left img{
      height: 80px;
   }
}

@media (max-width: 900px) {
   .header nav.right{
      font-size: 1rem;

   }
   .header .left img{
      height: 60px;
   }
}

@media (max-width:768px) {
    
   .showOnMobile{
      display: flex;
      color: var(--light-color1);
      font-size: 2rem;
   }
   
   .navCloseBtn.showOnMobile{
      font-size: 3rem;
      margin: 2rem;
   }

    nav.right{
      font-size: 1.3rem;
      width: 100%;
      left: 0;
      bottom: -100%;
      padding: 3rem 0;
      position: fixed;
      flex-direction: column;
      align-items: center;
      background: var(--main-color);
      transition: 0.5s ease-out;
   }

   nav.right.active{
      bottom: 0;
   }

   .overlay{
      background: #00000044;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 9;
      display: none;
      transition: 0.3s;
   }
   .overlay.active{
      display: block;
   }

}

/* the event */

@media (max-width:1440px) {
   #event p{
      font-size: 2.6rem;
      padding: 5rem 2rem;
      line-height: 3.4rem;
      letter-spacing: 0.5px;
   }
   
                 
}

@media (max-width:1024px) {
   #event p{
      font-size: 2.3rem;
      padding: 5rem 1rem;
      line-height: 3.1rem;
   }
}

@media (max-width:768px) {
   #event p{
      font-size: 2rem;
      padding: 4rem 0rem;
      line-height: 2.8rem;
   }
}

@media (max-width:550px) {
   #event p{
      font-size: 1.75rem;
      padding: 3rem 0rem;
      line-height: 2.3rem;
   }
}

@media (max-width:450px) {
   #event p{
      font-size: 1.5rem;
      line-height: 1.9rem;
   }
}



/* countdown */

@media (max-width: 768px) {
  
   #countdown .container .phases .phase{
      font-size: 2.5vw;
   
   }
   #countdown .container  .countdownContainer{
      font-size: 13vw;
      gap: 1.5rem;
      margin: 3rem 0 6rem;
   
   }

}

@media (max-width:500px) {
   #countdown .container .countdownTitle{
      font-size: 6vw;
   }
}

@media (max-width:400px) {
   #countdown .container  .countdownContainer{
      font-size: 10vw;
      gap: 1rem;
      margin: 3rem 0 6rem;
   
   }
}




/* reserve */



/* 
.reserve form.input{
   position: relative;
   background: var(--dark);
   padding: 2.5rem 1rem;
   border-radius: 1.5rem;
   max-width: 100%;
}
*/

@media (max-width:1440px) {
   .reserve form.input {
      padding: 2.25rem 1rem;
   }
   #register > div {
      margin: 8rem 0;
  }
}


@media (max-width:1024px) {
   .reserve form.input {
      padding: 2rem 1rem;
   }
   #register > div p {
      font-size: 1.8rem;
   }
   #register > div {
      margin: 7rem 0;
  }
}
@media (max-width:768px) {
   .reserve form.input {
      padding: 2rem 0rem;
   }

   .reserve form.input input {
      padding: 2rem 1rem;
      font-size: 1.1rem;
   }

   #register > div p  {
      font-size: 1.6rem;
   }
   #register > div {
      margin: 6rem 0;
  }
}

@media (max-width:450px) {
   .reserve form.input {
      padding: 1.8rem 0rem;
   }
   .reserve form.input input {
      font-size: 1rem;
   }
   #register > div p {
      font-size: 1.4rem;
   }
   #register > div {
      margin: 4rem 0;
  }
}

@media (max-width:380px) {
   .reserve form.input {
      padding: 1.75rem 0rem;
   }
   .reserve form.input input {
      font-size: 0.8rem;
   }
   #register > div {
      margin: 3rem 0;
  }
}



/* faq */
/* #faq .container{
   width: 70%;
   display: flex;
   flex-direction: column;
   margin: 6rem auto 3rem;
   font-size: 1.5rem;
   color: var(--main-color);
} */

@media (max-width:1024px) {
   #faq .container{
      width: 80%;
   }
   
}

@media (max-width:768px) {
   #faq .container{
      width: 90%;
      font-size: 1.3rem;
   }
   #faq .container .question {
      padding: 1.7rem 2.5rem;
  }
}

@media (max-width:550px) {
   #faq .container{
      width: 100%;
      font-size: 1.1rem;
   }
   #faq .container .question {
      padding: 1.5rem 2.3rem;
  }
  #faq .container .answer p{
   padding: 1.7rem 2.5rem;
}
}

@media (max-width:450px) {
   #faq .container .answer p{
      padding: 1.5rem 2rem;
   }
   
}

@media (max-width:350px) {
   #faq .container .answer p{
      padding: 1.5rem 1.5rem;
   }
   
}


/* footer */

